.result-page {
    background: #fff;
    padding: 32px;
    border-radius: 10px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .title {
    text-align: center;
    color: #004aad;
    margin-bottom: 32px;
  }
  .chapter{
    color: #004aad;
  }
  
  .info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  /* .score-table {
    width: 100%;
    border-collapse: collapse;
  } */
  .score-table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .score-table th, .score-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .legend p {
    margin: 4px 0;
  }
  
  .result-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
  }
  .title{
    font-size: 35px;
  }
 
  .slider-container {
    position: relative;
    height: 24px;
    width: 100%;
    margin-top: 12px;
  }

  
  .slider-track {
    position: relative;
    height: 12px;
    border-radius: 6px;
    width: 100%;
    background: linear-gradient(
      to right,
      #757575 0%,       
      #757575 20%,
      #f1a446 20%,     
      #f1a446 40%,
      #7acc98 40%,     
      #7acc98 40%
    
    );
  }
  .slider-marker {
    position: absolute;
    top: -20px;
    font-size: 12px;
    color: #333;
    transform: translateX(-50%);
  }
  
  
  .slider-dot {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    transform: translateX(-50%);
    background-color: #568f68;
  }
  .lv1 {
    color: #757575;
    font-weight: bold;
    font-size: 16px;
  }
  .lv2{
    color: #f1a446;
    font-weight: bold;
    font-size: 16px;
  }
  .lv3{
    color: #7acc98;
    font-weight: bold;
    font-size: 16px;
  }
  .print-pdf{
    padding: 40px;
  }
  .pdf-only-header {
    display: none;
  }
  
  .result-page.printing .pdf-only-header {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .pdf-title{
    font-size: 30px;
    align-items: center;
    color: #004aad;
  }
  
